* {
    font-family: myFont, sans-serif;
}

@font-face {
    font-family: myFont;
    src: url(./Uchen-Regular.ttf)
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    padding: 0;
    margin: 0;
  }

body {
    background-image: url(./patrick-tomasso-Oaqk7qqNh_c-unsplash.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: white;
    background-color: black;
    padding: 24px;
    font-size: 48px;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: white;
    text-align: left;
}

th, td {
    border: 1px solid black;
    
    padding: 20px;
}

th {
    background-color: rgb(235,235,235);
    font-size: 24px;
  }

button.new-book, button.form-button {
    padding: 24px;
    margin: 24px;
    background-color: black;
    color: white;
    font-size: 24px;
}

button.deleteButton:hover {
    background-color:white;
    color: black;
}

button.form-button:hover {
    background-color: white;
    color: black;
}

.cancel:hover, .submit:hover {
    background-color: white;
    color: black
}

button.deleteButton {
    background-color: black;
    color: white;
    height: 30px;
    width: 30px;    
}

.buttonCell {
   text-align: center;
}

.checkboxCell {
    text-align: center;
}

#popupForm {
    display: none;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(235,235,235);
    padding: 48px;
    padding-top: 16px;
    border: 2px solid black;
    width: 500px;
    text-align: center;
    line-height: 3rem;
    z-index: 9;
}

input {
    margin-top: -12px;
    margin-bottom: 16px;
}

form {
    display: flex;
    flex-direction: column;
}

.cancel, .submit {
    padding: 8px;
    margin-top: 24px;
    margin-right: 24px;
    margin-left: 24px;
    background-color: black;
    color: white;
}

input[type="checkbox"] {
    appearance: none;
    margin-top: 12px;
    margin-left: 16px;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 2px solid gray;
    display: grid;
    place-content: center;
}

.checkboxCell {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1;
     
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    background-color: black;
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  }
  
  input[type="checkbox"]:checked::before {
    transform: scale(1);
  }

  label.check-cell {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
  }