* {
    font-family: myFont, sans-serif;
}

@font-face {
    font-family: myFont;
    src: url(./Uchen-Regular.ttf)
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    padding: 0;
    margin: 0;
  }

body {
    background-image: url(./patrick-tomasso-Oaqk7qqNh_c-unsplash.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: white;
    background-color: black;
    padding: 24px;
    font-size: 48px;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: white;
    text-align: left;
}

th, td {
    border: 1px solid black;
    padding: 20px;
}

th {
    background-color: rgb(235,235,235);
    font-size: 24px;
  }

button.new-book, button.form-button {
    padding: 24px;
    margin: 24px;
    background-color: black;
    color: white;
    font-size: 24px;
}

button.deleteButton:hover {
    transform: scale(1.2, 1.2)
}

button.deleteButton:active, button.form-button:active {
    background-color: rgb(235,235,235);
}

button.form-button:hover {
    transform: scale(1.05, 1.05)
}

.cancel:hover, .submit:hover {
    transform: scale(1.05, 1.05)
}

button.deleteButton {
    background-color: black;
    color: white;
    height: 30px;
    width: 30px;

}

.buttonCell {
   text-align: center;
}

.checkboxCell {
    text-align: center;
}

#popupForm {
    display: none;
    position: absolute;
    flex-direction: column;
    background-color: rgb(235,235,235);
    padding: 48px;
    padding-top: 16px;
    border: 2px solid black;
    width: 500px;
    text-align: center;
    line-height: 3rem;
}

input {
    margin-top: -12px;
    margin-bottom: 16px;
}

form {
    display: flex;
    flex-direction: column;
}

.cancel, .submit {
    padding: 8px;
    margin-top: 24px;
    margin-right: 24px;
    margin-left: 24px;
    background-color: black;
    color: white;

}